:root {
    --primeira-cor: #f39c12; /*Cor laranja*/
    --segunda-cor:#2c3e50; /*Cor cinza*/
    --bg-cor: #215fd1;
    --white: #ffffff;
}

.container {
    max-width:1300px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: var(--bg-cor);
    min-height: 100vh;
}

.header {
    background-color: var(--primeira-cor);
    color: white;
    padding: 2rem;
    text-align: center;
    border-radius: 0 0 20px 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1)
}

.main-content {
    display: flex; /* Colocar os elementos em linha*/
  /*  flex-direction: row; /* Direção dos elementos em linha*/
   /* padding: 20px; /* Aplica o espacamentos para os 4 lados */
    gap: 30px; /* Espaçamento entre os colunas e linhas */
    align-items: flex-start;
}   

.grid-layout {
    flex: 3; 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    /* auto-fill - preencher automaticamente | minmax - tamanho mínimo e máximo */
    gap: 20px; /* Espaçamento entre os produtos */
}


/*Produtos*/
.product-card {
    background: var(--white);
    padding: 15px;
    border-radius: 8px;
    transition: tranform 0.3s ease, box-shodow 0.3s ease;
    text-align:center;
    border: 1px solid #eee;
}

.product-card:hover {
    transform: translate(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%; 
    height: 180 px;
    object-fit: contain; /* mantem proporção com base no conteiner*/
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 1.1rem;
    color: var(--segunda-cor);
    margin: 10px 0;
}

.prduct-card p {
    color: var(--primeira-cor);
    font-weight: bold;
    font-size: 1.2rem;
}

.btn-buy {
    background-color: var(--primeira-cor);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    font-weight: bold;
    transition: background 0.2s; /*Anima a mudança de fundo por 0,2s*/
}


.btn-buy:houver {
    background-color: #e67e22;
}

/* Carrinho */

.cart-sidebar {
    flex: 1;
    background: #fff;
    padding: 20px; /*Espaço para todos os lados*/
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /*RGB - cor| RGBA(Alfa) - cor + transparencia(0-traparente) e (1 opaco)*/
    position: sticky; 
    /*Faz movimentar o objeto. + Top faz ser o ponto de partida*
    Exemplo: Quando a pagina passar a 20px acima o carrinho ficará grudado na tela */
    top: 20px;
}

.cart-sidebar h2 {
    border-bottom: 2px solid var(--primeira-cor);
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: var(--segunda-cor);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
}

.btn-fisish {
    background-color: var(--segunda-cor);
    color: white;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}